body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #333, #555);
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 28px;
    margin-left: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #f39c12;
    transform: scale(1.1);
}

.cart {
    background-color: #f39c12;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cart:hover {
    background-color: #e67e22;
    color: black;
    transform: scale(1.1);
}

/* main */
.productos {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.producto {
    display: inline-block;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 8px 5px 9px 0px black;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.producto p {
    font-size: 16px;
    color: #555;
}

.producto button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #555;
}

/*ventana de detalles */
#modal-detalles img {
    border-radius: 10px;
    margin-bottom: 20px;
}
#modal-overlay {
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 16px;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-media a:hover {
    color: #f39c12;
    transform: scale(1.1);
}
/* Estilos del formulario de registro */
.form-section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    padding: 60px;
    background: linear-gradient(135deg, #4CAF50, #81C784);
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    gap: 20px;
}

.form-container {
    width: 35%;
    max-width: 500px; /*Tamaño máximo del formulario */
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
    animation: fadeIn 1.2s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-container h1 {
    margin-bottom: 25px;
    padding: 5px;
    font-size: 28px;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.form-container input {
    width: 90%;
    padding: 12px;
    /* margin-bottom: 20px;  */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.form-container input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.form-container button {
    width: 50%;
    padding: 10px;
    background: linear-gradient(135deg, #4CAF50, #388E3C);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s;
}

.form-container button:hover {
    background: linear-gradient(135deg, #388E3C, #4CAF50);
    transform: scale(1.05);
}

.terms {
    margin: 20px 0;
    font-size: 14px;
    color: #666;
}

.terms input {
    margin-right: 10px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-login a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 20px;
    transition: transform 0.3s, background-color 0.3s;
}

.social-login a.facebook {
    background-color: #4267B2;
}

.social-login a.facebook:hover {
    background-color: #365899;
    transform: scale(1.1);
}

.social-login a.google {
    background-color: #DB4437;
}

.social-login a.google:hover {
    background-color: #C33D2E;
    transform: scale(1.1);
}

.social-login a.twitter {
    background-color: #1DA1F2;
}

.social-login a.twitter:hover {
    background-color: #0D95E8;
    transform: scale(1.1);
}
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1.2s ease;
}
.form-image img {
    max-width: 90%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: rotate(-2deg);
    transition: transform 0.3s;
}
.form-image img:hover {
    transform: rotate(0deg) scale(1.05);
}